.overlaysearch {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.719);
    overflow-y: hidden;
    transition: 0.5s;
  }
  
  .overlaysearch-content {
    position: relative;
    top: 0%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlaysearch a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlaysearch a:hover, .overlaysearch a:focus {
    color: #f1f1f1;
  }
  
  .overlaysearch .closebtnsearch {
    position: absolute;
    top: 0px;
    z-index: 50;
    right: 15px;
    font-size: 35px !important;
  }
  
  @media screen and (max-height: 450px) {
    #search  .overlaysearch {overflow-y: auto;}
    #search   .overlaysearch a {font-size: 20px}
    #search  .overlaysearch .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  #search input {
      width: 100%;
    -webkit-appearance: none;
    background: #ffffff;
    padding: 0.8125em;
    border-radius: 50px;
    border: none;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    color: #767676;
    padding-left: 1.625em;
    padding-right: 1.625em;
    height: 52px;
  }