#intro .my-btn, #news .my-btn button, #interested .my-btn {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 100px;
  padding-top: 0.54166667em;
  padding-bottom: 0.65em;
  padding-right: 3.25em;
  padding-left: 3.25em;
  border: 1px solid #232323;
  border-width: 2px;
  font-size: inherit;
  line-height: 1.625em;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#intro .my-btn:hover, #news .my-btn button:hover, #interested .my-btn:hover {
  background-color: #546cc3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#navigation .navbar {
  top: 0px;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1020;
}

#navigation .navbar .navbar-brand img {
  max-height: 40px;
}

#navigation .navbar .navbar-nav {
  text-transform: uppercase;
}

#navigation .navbar .navbar-nav li a {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

#navigation .navbar .form-inline a i {
  color: #fff;
}

#intro {
  margin-top: -80px;
  position: relative;
  background: url(../img/hero1.jpg);
  background-repeat: no-repeat;
  z-index: 0;
  background-attachment: fixed;
  background-size: cover;
}

#intro::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #0707077d;
  background-repeat: no-repeat;
  z-index: -1;
}

#intro .intro-logo {
  padding-top: 200px;
  margin-left: 155px;
}

#intro .intro-logo img {
  max-height: 8.125em;
  z-index: 10;
}

#intro .intro-text {
  padding-top: 200px;
}

#intro .intro-text p {
  font-weight: 400;
  z-index: 10;
  color: #fff;
  position: relative;
  top: 48px;
  font-size: 1.4375em;
  line-height: 1.69565217em;
  opacity: .9;
}

#intro .my-btn {
  text-align: center;
  width: 24%;
  color: #fff;
}

#intro .myicons {
  padding: 60px 0;
  margin-top: 100px;
}

#intro .myicons .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

#intro .myicons .social li {
  margin: 30px;
}

#intro .myicons .social li a {
  text-decoration: none;
  color: #a59f9f;
}

#intro .myicons .social li a:hover {
  color: #fff;
}

#intro .myicons .social li a i {
  font-size: 25px;
}

#delivered {
  padding: 100px 0;
  background-color: #f4f4f4;
}

#delivered h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
}

#delivered p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
}

#delivered .digital-list ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#delivered .digital-list ul li {
  font-style: italic;
  margin: 15px;
  text-transform: capitalize;
  color: #767676;
  text-align: center;
}

#delivered .digital-list ul li::after {
  content: '/';
  margin-left: 0.8125em;
}

#delivered .filterDiv {
  display: none;
}

#delivered .show {
  display: block;
}

#delivered .btn {
  cursor: pointer;
}

#delivered .btn.active {
  color: grey;
}

#delivered .box {
  position: relative;
  padding: 0;
  overflow: hidden;
}

#delivered .box .overlay {
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 160px;
  text-align: top;
}

#delivered .box:hover .overlay {
  opacity: 1;
}

#collective {
  background-color: #f4f4f4;
  padding: 100px 0;
}

#collective h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
}

#collective p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
}

#collective .person {
  position: relative;
}

#collective .person .overlay {
  top: 0;
  position: absolute;
  bottom: 0;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  /* Black see-through */
  color: #f1f1f1;
  width: 94%;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  height: 100%;
}

#collective .person .overlay h5 {
  color: #fff;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 35%;
}

#collective .person .overlay h6 {
  color: #767676;
  position: absolute;
  top: 45%;
  left: 40%;
  text-align: center;
}

#collective .person .social {
  opacity: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 10%;
  left: 20%;
  font-size: 20px;
}

#collective .person .social i {
  color: #fff;
}

#collective .person:hover .overlay {
  opacity: 1;
}

#collective .person:hover .social {
  opacity: 1;
}

#parallax {
  padding: 100px 0;
  background-image: url(../img/hero2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 0;
}

#parallax .future {
  line-height: 1.421875em;
  color: #fff;
}

#parallax .future .gg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#parallax .future h3 {
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

#parallax .future p {
  text-align: center;
}

#parallax .future img {
  max-width: 100%;
  height: 70px;
}

#parallax .overlay::before {
  position: absolute;
  content: '';
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.7;
  background-attachment: fixed;
  background-size: cover;
}

#expertise {
  padding: 100px 0;
}

#expertise .title {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
}

#expertise .myp {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
  font-size: 2em;
}

#expertise .left-content img {
  height: 50px;
}

#expertise .right-content h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: #343434;
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
}

#expertise .right-content p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
  font-size: 1em;
}

#gibson {
  position: relative;
  padding: 110px 0;
  background-color: #f4f4f4;
}

#gibson .dan img {
  bottom: -57%;
  position: absolute;
}

#gibson .dantext p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
}

#gibson .dantext h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  color: #343434;
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
}

#news {
  background-color: #f4f4f4;
  padding: 100px 0;
}

#news h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
}

#news p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
}

#news .card-text {
  color: #232323;
  font-weight: 400;
}

#news h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

#news .h6 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

#news .card:hover {
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}

#news .my-btn button {
  background-color: transparent;
  border-color: rgba(35, 35, 35, 0.1);
  margin-top: 3.25em;
}

#news .my-btn button:hover {
  background-color: transparent;
  border-color: rgba(35, 35, 35, 0.9);
}

#karusel {
  padding: 100px 0;
  background: #f4f4f4;
}

#karusel .brands {
  margin-top: 50px;
}

#karusel .brands .item .brand-box {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px;
}

#karusel .brands .item .brand-box img {
  padding: 20px;
  -webkit-filter: brightness(100%) invert(1);
          filter: brightness(100%) invert(1);
  max-height: 1.625em;
  max-height: 1.625em;
}

#interested {
  padding: 70px 0;
  background-color: #425cbb;
}

#interested h5 {
  font-size: 1.4375em;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
  color: #fff;
}

#interested .my-btn {
  border-color: rgba(255, 255, 255, 0.1);
  color: #f4f4f4;
}

#interested .my-btn:hover {
  border-color: #f4f4f4;
}

#big {
  padding: 100px 0;
  background-color: #232323;
  color: white;
}

#big img {
  max-width: 100%;
  max-height: 2.03125em;
  margin-bottom: 1.21875em;
}

#big h6 {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  line-height: 2.6em;
}

#big p {
  font-size: 1em;
  line-height: 1.625em;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  opacity: 0.9;
}

#big a {
  text-decoration: underline;
  color: white;
  font-size: 20px;
}

#big ul {
  list-style-type: none;
  color: #767676;
  display: block;
  margin: 0;
  padding: 0;
}

#big ul li {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.725em;
  line-height: 2.6em;
}

#big ul li:hover {
  color: white;
}

#big form button {
  height: 52px;
  font-size: 0.625em !important;
  letter-spacing: 1px;
  color: #fff;
  background: #425cbb;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 100px;
  padding: 5.41667px 32.5px 6.5px;
  font-size: inherit;
  line-height: 1.625em;
  text-transform: uppercase;
  border-radius: 0 50px 50px 0;
  margin-left: -4px;
  margin-top: -4px;
}

#big form input {
  border-radius: 50px 0 0 50px;
  width: 66.66666667%;
  padding: 13px 26px;
  border: 0;
}

#small {
  position: relative;
  background: #1e1e1e;
  padding: 1.625em 0;
}

#small p {
  color: gray;
}

#small .smooth .top-link {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: #3d3d3d;
  display: inline-block;
  text-align: center;
  position: fixed;
  z-index: 4;
  bottom: 3.25em;
  padding-top: 12px;
  color: white;
  bottom: 55px;
  right: 25px;
}

body {
  padding: 0;
  margin: 0;
}

#about-navigation .navbar {
  top: 0px;
  padding: 15px 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1020;
}

#about-navigation .navbar .navbar-brand img {
  max-height: 40px;
}

#about-navigation .navbar .navbar-nav {
  text-transform: uppercase;
}

#about-navigation .navbar .navbar-nav li a {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  font-size: 14px;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
}

#about-navigation .navbar .form-inline a i {
  color: #fff;
}

#about-navigation .scrolled {
  top: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: red;
}

#about-intro {
  padding: 200px 0;
  position: relative;
  z-index: 1;
  background-image: url(../img/about-bg/hero5.jpg);
  background-size: cover;
}

#about-intro::before {
  position: absolute;
  content: '';
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.7;
}

#about-intro .about-title {
  position: relative;
  z-index: 3;
}

#about-intro .about-title h3 {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  color: #343434;
  font-weight: 600;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures;
  font-size: 2em;
  text-align: center;
  color: white;
}

#about-intro .about-title p {
  font-size: 1.4375em;
  line-height: 1.69565217em;
  font-weight: 400;
  color: #767676;
  color: white;
  font-size: 25px;
}

#cards {
  padding: 100px 0;
  background-color: #F4F4F4;
}

#cards .cards .mycard::before {
  content: " ";
  display: table;
}

#cards .cards .mycard .card-logo {
  background: #eeeaea;
  padding: 4.875em 0;
  text-align: center;
}

#cards .cards .mycard .card-logo img {
  height: 50px;
}

#cards .cards .mycard .card-text {
  position: relative;
  overflow: hidden;
  padding: 2.4375em;
  background: #fff;
}

#biznes {
  position: relative;
  z-index: 1;
  padding-top: 100px 0;
  background-attachment: fixed;
  -webkit-transform: translate3d(0px, 95.72px, 0px);
          transform: translate3d(0px, 95.72px, 0px);
  padding: 100px 0;
  background-position: 50% 50% !important;
  background-image: url(../img/about-bg/hero8.jpg);
  background-size: cover;
}

#biznes .biznes-text {
  position: relative;
  z-index: 3;
}

#biznes .biznes-text h4 {
  color: white;
}

#biznes .biznes-text a {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 100px;
  padding-top: 0.54166667em;
  padding-bottom: 0.65em;
  padding-right: 3.25em;
  padding-left: 3.25em;
  border-width: 2px;
  font-size: inherit;
  line-height: 1.625em;
  text-transform: uppercase;
}

#biznes::before {
  position: absolute;
  content: '';
  background: #232323;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0.3;
}

#big {
  padding: 100px 0;
  background-color: #232323;
  color: white;
}

#big img {
  max-width: 100%;
  max-height: 2.03125em;
  margin-bottom: 1.21875em;
}

#big h6 {
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  line-height: 2.6em;
}

#big p {
  font-size: 1em;
  line-height: 1.625em;
  font-weight: 400;
  font-family: "Montserrat", "Helvetica", "Arial", "sans-serif";
  opacity: 0.9;
}

#big a {
  text-decoration: underline;
  color: white;
  font-size: 20px;
}

#big ul {
  list-style-type: none;
  color: #767676;
  display: block;
  margin: 0;
  padding: 0;
}

#big ul li {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.725em;
  line-height: 2.6em;
}

#big ul li:hover {
  color: white;
}

#big form button {
  height: 52px;
  font-size: 0.625em !important;
  letter-spacing: 1px;
  color: #fff;
  background: #425cbb;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  border-radius: 100px;
  padding: 5.41667px 32.5px 6.5px;
  font-size: inherit;
  line-height: 1.625em;
  text-transform: uppercase;
  border-radius: 0 50px 50px 0;
  margin-left: -4px;
  margin-top: -4px;
}

#big form input {
  border-radius: 50px 0 0 50px;
  width: 66.66666667%;
  padding: 13px 26px;
  border: 0;
}

#small {
  position: relative;
  background: #1e1e1e;
  padding: 1.625em 0;
}

#small p {
  color: gray;
}

#small .smooth .top-link {
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: #3d3d3d;
  display: inline-block;
  text-align: center;
  position: fixed;
  z-index: 4;
  bottom: 3.25em;
  padding-top: 12px;
  color: white;
  bottom: 55px;
  right: 25px;
}
/*# sourceMappingURL=style.css.map */