%btn-shared {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    border-radius: 100px;
    padding-top: 0.54166667em;
    padding-bottom: 0.65em;
    padding-right: 3.25em;
    padding-left: 3.25em;
    border: 1px solid #232323;
    border-width: 2px;
    font-size: inherit;
    line-height: 1.625em;
    text-transform: uppercase;
      
    @include transition(all 0.5s);

    &:hover{
        background-color: #546cc3;
        @include transition(all 0.5s);
    }
  }