%btn-shared {
    border-radius: 100px;
    padding-top: 0.64166667em;
    padding-bottom: 0.75em;
    padding-right: 3.25em;
    padding-left: 3.25em;
    border: 1px solid $secondary-color;
    border-width: 2px;
    font-size: 14px;
    line-height: 1.625em;
    text-transform: uppercase;
    background-color: $secondary-color;
    text-decoration: none;
    @include transition(all 0.5s);

    &:hover{
        background-color: #546cc3;
        @include transition(all 0.5s);
    }
  }