
#navigation{
   
  
   

 .navbar{
        top: 0px;
        // padding: 15px 0;
        @include transition(all 0.4s);
        z-index: 1020;
        .navbar-brand{
         img{
             max-height: 40px;
            }
        }
        .navbar-nav {
             text-transform: uppercase;
             li{
            
                a{
                 font-family: $font-f;
                      font-size: 14px;
                      font-size: 10px;
                      font-weight: 400;
                      color: $text-color-white;
                    
                 }
             }
        }
        .form-inline{
            a{
                i{
                
                    color: $text-color-white;
                }
            }
        }



    
     }


 #bag{
   
        .mybag{
            float: right;
        }
    
        ul{
            list-style-type: none;
        }
         .cart-title{
            margin-bottom: 3.25em;
            border-bottom: 1px solid #f1f1f1;
        }
         h5{
            font-size: 2em;
            line-height: 1.625em;
            color: #343434;
            font-weight: 600;
            font-variant-ligatures: common-ligatures;
        }
         .cart-items{
            max-height: 70vh;
            overflow-x: auto;
            overflow-y: scroll;
            
            line-height: 1.625em !important;
        }
         .item_image img {
            height: 80px;
        }
         li{display: flex;
             margin-bottom:1.625em;
        }
         li .item_image{
           
            margin-right: 1.625em;
        }
     
         .item_remove::before{
            margin-left: 15px;
            content: '\2715';}
         .cart-subtotal{
            padding-top: 1.625em;
            border-top: 1px solid #f1f1f1;
        }
         .cart-action{
            margin-top: 3.25em;
            text-align: center;
            width: 100%;
        }
         .cart-action .btn-primary{
            border-color: #425cbb;
            background: #425cbb;}
         .cart-close::before{
            position: absolute;
            top: 1em;
            z-index: 99;
            right: 1em;
            cursor: pointer;
            transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            opacity: .7;
            font-size: 1em;
            color: #fff;
            line-height: 2.4375em;
            content: '\2715';
           
            width: 2.4375em;
            height: 2.4375em;
            background: #232323;
            text-align: center;
            border-radius: 50%;
        }
    
 
    }


}

#intro{
     margin-top: -100px;
    position: relative;
    padding: 80px 0;
    background: url(../img/hero1.jpg);
    background-repeat: no-repeat;
    z-index: 0;
    background-attachment: fixed;
    background-size: cover;
    &::after {
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        position: absolute;
        background-color: #0707077d;
        background-repeat: no-repeat;
        z-index: -1;
      }
    

    .intro-logo{
        padding-top: 20px;
        margin-left: 30px;
        img{
            max-height: 8.125em;
            z-index: 10;
        }
    }
    .intro-text{
      
        p{
          
          z-index: 10;
          color: $text-color-white;
         margin-right: 0px;
         margin-bottom: 0px;
          font-size: 1.4375em;
          line-height: 1.69565217em;
          opacity: .9;
        }
    }
    .my-btn{
        background: #425cbb;
        text-align: center;
        width: 24%;
        border-color: #425cbb;
        color: $text-color-white;
        border-width: 2px;
        font-size: inherit;
        line-height: 1.625em;
        text-transform: uppercase;
        font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    border-radius: 100px;
    padding-top: 0.54166667em;
    padding-bottom: 0.65em;
    padding-right: 3.25em;
    padding-left: 3.25em;
         cursor: pointer;
       
    }

    .myicons{  
        padding: 60px 0; 
        margin-top: 100px;        
        .social{
            display: flex;
            justify-content: center;
            list-style-type: none;
            li{
             margin: 30px;
         
             a{
                 text-decoration: none;
                 color: #a59f9f;
                 &:hover{
                     color: $text-color-white;
                 }
                 i{
                     font-size: 25px;
                 }
                }
            }
        }
    }
 }

 #delivered{
     padding: 100px 0;
    background-color: #f4f4f4;
    h3{
        @include title;
    }
    p{
        @include myp;
    }
    .digital-list{
        ul{justify-content: center;
            list-style-type: none;
            display: flex;
          
            li{
                font-style: italic;
                 margin: 15px;
                 text-transform: capitalize;
                 color:$helper-color;
                 text-align: center;
                 &::after{
                    content: '/';
                    margin-left: 0.8125em;
                    // opacity: 0.1;
                 }
            }
        }
    }
    .filterDiv{
        transform: translate3d(0, 10px, 0);
        display: none;
        
    } 
    .show {
        display: block;
        transition: .3s;
      } 
      .btn {
        cursor: pointer;
      }
      .btn.active {
      color: grey;
      }
    .box{
        position: relative;
        padding: 0;
        overflow: hidden;
      background-size: cover;
      height: 50%;
  
        .overlay{
       
            position: absolute;
            bottom: 0;
            background: rgb(0, 0, 0);
            background: rgba(0, 0, 0, 0.5); /* Black see-through */
            color: #f1f1f1;
            width: 100%;
            transition: .5s ease;
            opacity:0;
            color: white;
            font-size: 12px;
            padding: 100px;
            text-align: top;
            height: 100%;
          
         
              
        }

        &:hover .overlay{
            opacity: 1;
        }
    }

 }

 #collective {
     background-color: #f4f4f4;
     padding: 100px 0;
   h3{
       @include title;
   }
   p{
       @include myp;
   }
   .person{
    position: relative;


       .coverlay{
           top: 0;
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1;
        width: 94%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
       height: 100%;
            h5{
                color: $text-color-white;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 35%;
            }
            h6{
                color: $helper-color;
                position: absolute;
                top: 45%;
                left: 40%;
                text-align: center;
            }
       }
       .social{opacity: 0;
           list-style-type: none;
           display: flex;
           position: absolute;
           justify-content: center;
           bottom: 10%;
          left: 20%;
          font-size: 20px;
          i{
            color: $text-color-white;

          }
       }

       &:hover .coverlay{
            opacity: 1;
       }
       &:hover .social{
        opacity: 1;
   }
   }
 }

 #parallax{
     padding: 100px 0;
     background-image: url(../img/hero2.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     position: relative;
     z-index: 0;


    .future{
       .gg{
           display: flex;
           justify-content: center;
       }
        h3{
            font-size: 3em;
            font-weight: 600;
          text-align: center;

        }
      p{
          text-align: center;
      }
        line-height: 1.421875em;
        color: $text-color-white;
        img{
           max-width: 100%;
           height: 70px;
      
        }
       
    }

    .parallax-overlay{
        &::before{
            position: absolute;
            content: '';
            background: #232323;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.5;
            background-attachment: fixed;
            background-size: cover;
        }
    }
 }

 #expertise{
     padding: 100px 0;
     .title {
         font-family: $font-f;
       @include title;
       font-size: 2em;
         font-weight: 900;
     }
     .myp {
        @include myp;
        font-size: 2em;

     }
     .left-content {
          img{
              height: 50px;
          }
     }
     .right-content{
            h6{
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 400;
                color: #343434;
                font-family: $font-f;
            }
            p{
         @include myp;
         font-size: 1em;
            }
     }
 }

 #gibson{
   position: relative;
     padding: 80px 0;
     background-color: #f4f4f4;
     .dan{
          img{
              bottom: -57%;
           position: absolute;
          }
     }
     .dantext{
         p{
              @include myp;
         }
    
         h6{
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            color: #343434;
            font-family: $font-f;
         }
    }
 }

 #news{ 
     background-color: #f4f4f4;

    padding: 100px 0;
    h3{
      @include title;
    }
    p{
   @include myp;
    }
    .card-text{
        color: #232323;
        font-weight: 400;
    }
    h6{
        text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    }
    .h6{
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400; 
    }
    .card{
        &:hover{
            box-shadow:  0px 0px 30px 0px rgba(0, 0, 0, 0.05);;
        }
    }
    .my-btn {
        button{
            @extend %btn-shared;
            background-color: transparent;
            border-color:rgba(35, 35, 35, 0.1);
            margin-top: 3.25em;
          
            
            &:hover{
                background-color: transparent;
                border-color: rgba(35, 35, 35, 0.9);
            }
        }
 
    }
}
   
#karusel{
padding: 100px 0;
background: #e7e7e7;
   ul{
       list-style-type: none;
       li{
           img{
               color: #767676;
            max-height: 1.625em;
            opacity: .3;
            margin: 0;
            max-width: 45%;
           }
 
       }
   }
    .brands{
        margin-top: 50px;

        }
    }

#interested{
    padding: 70px 0;
    background-color: #425cbb;
    h5{
        font-size: 1.4375em;
           @include title;
           color: $text-color-white;
    }
    .my-btn{
        @extend %btn-shared;
        border-color: rgba(255, 255, 255, 0.1);
        color: #f4f4f4;
        &:hover{
            border-color: #f4f4f4;
        }

    }
}

 #big{
        padding: 100px 0;
        background-color: #232323;
        color: white;
        img{
       max-width: 100%;
       max-height: 2.03125em;
       margin-bottom: 1.21875em;
        }
        h6{
       font-family: $font-f;
     
       line-height: 2.6em;
        }
        p{
   font-size: 1em;
   line-height: 1.625em;
   font-weight: 400;
   font-family: $font-f;
   opacity: 0.9;
        }
        a {text-decoration: underline;
            color: white;
            font-size: 20px;
        }
        ul{
            list-style-type: none;
            color: #767676;
            display: block;
            margin: 0;
            padding: 0;
            li{
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
font-size: 0.725em;
line-height: 2.6em;
&:hover {
    color: white;
}
            }

        }
        form{
            button{
                height: 52px;
                font-size: 0.625em !important;
                letter-spacing: 1px;
                color: #fff;
                background: #425cbb;
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                transition: 0.1s linear;
                -webkit-transition: 0.1s linear;
                -moz-transition: 0.1s linear;
                border-radius: 100px;
              padding: 5.41667px 32.5px 6.5px;
                // border: 1px solid #232323;
                font-size: inherit;
                line-height: 1.625em;
                text-transform: uppercase;
                border-radius: 0 50px 50px 0;
                margin-left: -4px;
                margin-top:-4px;
            }
           input{
              border-radius: 50px 0 0 50px;
              width: 66.66666667%;
              padding: 13px 26px;
              border: 0;
           }
    
             
          
        }
    }

 #small{ 
        position: relative;
        background: #1e1e1e;
        padding:  1.625em 0;
        p{
            color: gray
        }
        .smooth{
           
            .top-link{
               
                width: 3.25em;
                height: 3.25em;
                border-radius: 50%;
                background: #3d3d3d;
                display: inline-block;
                text-align: center;
                position: fixed;
                z-index: 4;
                bottom: 3.25em;
                padding-top: 12px;
                color: white;
                bottom: 55px;
                right: 25px
              
            }
        }
    }
    
