#login-welcome{
    color: #767676;
    background-color: #f5f5f5;
 
.left{

}
.right{
    ul{
        list-style-type: none;
        // z-index: 900;
        
        li{   
         padding: 15px;
            cursor: pointer;
            &:hover{
                color: #232323;
            }
        }
    }
}
}

#login-navigation{
    
    .navbar{
        top: 70px;
        padding: 15px 0;
        @include transition(all 0.4s);
        z-index: 1020;

        .navbar-brand{
         img{
             max-height: 40px;
            }
        }
     
        .navbar-nav {
             text-transform: uppercase;
             li{
                a{
                 font-family: $font-f;
                      font-size: 14px;
                      font-size: 10px;
                      font-weight: 400;
                      color: black;
                 }
             }
        }
        .form-inline{
            a{
                i{
                
                    color: black;
                }
            }
        }
    
     }
     .scrolled{
        top: 0;
        @include transition(all 0.4s);
        background-color: red;
    }
}
    #pink{
      padding: 60px 0;
        background-color: #f5f5f5;

        .login-title{
            padding: 3.775em 0;

            p{
                
                @include myp;
                font-size: 1.4375em;
               }

            }

            .login-content{
             
            }

            .input-with-icon{
                input{    
                    width: 60%;
                    background:   #f8f8f8;
                    margin-top: 0.8125em;
                    padding-right: 1.625em;
                    height: 52px;
                    color: #767676;
                    padding: 0.8125em;
                    padding-left: 4.0625em;
                    border-radius: 50px;
                    border: none;
                    position: relative;
                    margin: 20px;
                }
                label{
                    top: -20px;
                    position: absolute;
                    max-width: 100%;
                    margin-top: 0.8125em;
                }
                i{
                  
                    margin-top: 0.8125em;
                }
            
            }
            button{
                @extend %btn-shared;
                width: 60%;
                background: #425cbb;
    border-color: #425cbb;
    color: white;
            }
       
      }

      #big{
        padding: 100px 0;
        background-color: #232323;
        color: white;
        img{
       max-width: 100%;
       max-height: 2.03125em;
       margin-bottom: 1.21875em;
        }
        h6{
       font-family: $font-f;
     
       line-height: 2.6em;
        }
        p{
   font-size: 1em;
   line-height: 1.625em;
   font-weight: 400;
   font-family: $font-f;
   opacity: 0.9;
        }
        a {text-decoration: underline;
            color: white;
            font-size: 20px;
        }
        ul{
            list-style-type: none;
            color: #767676;
            display: block;
            margin: 0;
            padding: 0;
            li{
cursor: pointer;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
font-size: 0.725em;
line-height: 2.6em;
&:hover {
    color: white;
}
            }

        }
        form{
            button{
                height: 52px;
                font-size: 0.625em !important;
                letter-spacing: 1px;
                color: #fff;
                background: #425cbb;
                font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
                transition: 0.1s linear;
                -webkit-transition: 0.1s linear;
                -moz-transition: 0.1s linear;
                border-radius: 100px;
              padding: 5.41667px 32.5px 6.5px;
                // border: 1px solid #232323;
                font-size: inherit;
                line-height: 1.625em;
                text-transform: uppercase;
                border-radius: 0 50px 50px 0;
                margin-left: -4px;
                margin-top:-4px;
            }
           input{
              border-radius: 50px 0 0 50px;
              width: 66.66666667%;
              padding: 13px 26px;
              border: 0;
           }
    
             
          
        }
    }

    #small{ 
        position: relative;
        background: #1e1e1e;
        padding:  1.625em 0;
        p{
            color: gray
        }
        .smooth{
           
            .top-link{
               
                width: 3.25em;
                height: 3.25em;
                border-radius: 50%;
                background: #3d3d3d;
                display: inline-block;
                text-align: center;
                position: fixed;
                z-index: 4;
                bottom: 3.25em;
                padding-top: 12px;
                color: white;
                bottom: 55px;
                right: 25px
              
            }
        }
    }
    
    